.container {
  margin: 20px auto;
  width: 60%;
  padding: 10px;
  border-radius: 16px;
  background: rgba(255,255,255,.5);
  text-align: center;
  z-index: 100;
}

#login {
  margin-bottom:100px;
}

.container input {
  display:inline;
}

form * {
  display:inline-block;
  margin: 8px 0px;
}

form #new_album_name {
  visibility: hidden;
}


th {
  text-align: left;
}

#images {
  width: auto;
  margin: 20px auto;
}

#images .image span {
  display:inline-block;
  width: 100%;
  text-align: center;
}

#images .image img {
  display:block;
  max-width: initial;
  margin: 20px auto;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#carousel-example-generic {
  position:absolute;
  left:0px;
  top:52px;
  height:500px;
  max-height:500px;
  width:100%;
  overflow:hidden;
  z-index: -9999;
}

#carousel-example-generic .item img {
  width:100%;
}


.bigcontainer {
}