<div id=images>
  <% i = Photo.find(@id) %>
  <div class=image>
      <img src="<%= i.file %>" /></br>
      <span>User: <%= i.album.user.email %></span></br>
      <span>Album: <%= i.album.name %></span></br>
  </div>
</div>